<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobber:Choose Package</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/TechJobber Icon@300x.png" type="image/x-icon" />
    
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- EXTERNAL FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap" rel="stylesheet">
    
    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="/js/main.js"></script>
   
</head>
<body class="bg-white text-black dark:bg-black font-Default dark:text-white">

    <!-- Navigation starts -->
    <header class="sticky top-0 z-10 bg-white dark:bg-black font-Default mb-12 mx-auto">
        <section class="mx-auto flex max-w-full items-center justify-between p-4">
            <a class="navbar-brand" href="#"><img src="/images/TechJobber Horizontal@300x.png" alt="" class=""
                    width="200px"></a>
            <div>
                <button id="hamburger-button" class="relative h-8 w-8 cursor-pointer text-3xl md:hidden ">
                    <!-- &#9776; -->
                    <div
                        class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-black dark:bg-white transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-black before:dark:bg-white before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-black after:dark:bg-white after:transition-all after:duration-500 after:content-['']">
                    </div>
                </button>

                <!-- Desktop view -->
                <nav class="hidden space-x-8 text-base md:block" aria-label="main">
                    <a href="/" class="w-full font-Default  py-6 text-center hover:opacity-90">HOME <i
                            class="fas fa-arrow-right text-green-600"></i> </a>
    
                   
                    <a href="/landing" class="w-full py-6 text-center hover:opacity-90">REGISTER <i
                            class="fas fa-arrow-right text-green-600"></i> </a>
    
    
    
                </nav>
            </div>
        </section>
        <!-- Mobile view -->
        <section id="mobile-menu"
            class="top-68 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-white text-black dark:bg-black dark:text-slate-50 text-3xl">
            <!-- <button class="text-8xl self-end px-6">
                        &times;
                    </button> -->
            <nav class="flex min-h-screen  flex-col items-center py-8" aria-label="mobile">
                <a href="/" class="w-full py-6 text-center hover:opacity-90"><i
                        class="fas fa-home text-green-600"></i> HOME</a>
                <a href="/landing" class="w-full py-6 text-center hover:opacity-90"><i
                        class="fas fa-sign-in-alt text-green-600"></i>REGISTER</a>
                
    
    
    
            </nav>
        </section>
    </header>

    <!-- Navigation ends -->

    <!-- Main section starts -->
    <section 
        class="widescreen:section-min-height tallscreen:section-min-height my-4 scroll-mt-12 p-4 w-full sm:text-base"
        data-aos="fade-left" data-aos-delay="200">
        <h2 class="mb-6 text-center text-4xl font-bold text-green-600 sm:text-3xl">
            CHOOSE YOUR DESTINATION
        </h2>
        <ul
            class="mx-auto my-12 flex list-none flex-col items-center justify-between align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 1st card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center  border border-solid border-slate-900 bg-white py-6 px-4 shadow-xl  dark:border-gray-100 dark:bg-black sm:w-5/6 sm:text-base">
                <img src="/images/bg-3.png" alt="Explorer" class="mb-6 w-full" />
    
                
                </div>
                <h3 class="text-start mt-2 text-2xl text-slate-900 dark:text-white">
                    LAND TECH JOBS
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2">
                    Register as a Tech Talent and Land Great Tech Jobs
                </p>

                <button class="mx-4 w-32 text-xl my-4 border text-black dark:text-white border-solid border-green-600 p-3 rounded-md hover:bg-green-600" type="submit"><a
                        href="/signup" target="/signup">Register</a></button>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
                <img class="w-10 mt-3" src="/images/TechJobber Icon@300x.png" alt="">
    
            </li>
    
            <!-- 1st card ends -->
    
            <!-- 2nd card begins -->
           
                <li data-aos="flip-up" data-aos-delay="200"
                    class="flex w-full flex-col items-center  border border-solid border-slate-900 bg-white py-6 px-4 shadow-xl  dark:border-gray-100 dark:bg-black sm:w-5/6 sm:text-base">
                    <img src="/images/boss.png" alt="Explorer" class="mb-6 w-full" />
            
            
                    </div>
                    <h3 class="text-start mt-2 text-2xl text-slate-900 dark:text-white">
                        RECRUIT TOP TECH TALENTS
                    </h3>
                    <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2">
                        Find and Recruit Top Talents For Your Project and Company
                    </p>
            
                    <button
                        class="mx-4 w-32 text-xl my-4 border text-black dark:text-white border-solid border-green-600 p-3 rounded-md hover:bg-green-600"
                        type="submit"><a href="recruiter/recruiter_signup.ejs" target="_blank">Register</a></button>
            
                    <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
            
                    <img class="w-10 mt-3" src="/images/TechJobber Icon@300x.png" alt="">
            
                </li>
           
    
            <!-- 2nd card ends -->
    
    
    
        </ul>
    </section>

    <!-- Main section ends -->
</body>
</html>
